*.DS_Store
*.aux
*.glob
*.vo
*.vos
*.vok
*.d
docs
Makefile.coq
Makefile.coq.conf
.depend
.history
.coqdeps.d
*.dep
*.depend
*.v~
_build
resources/index.html
resources/deps.png
resources/map.html
.lia.cache
.nia.cache
html
deps.dot
deps.map
*.dpd
*.dot
.coq-native/
