*.DS_Store
*.aux
*.glob
*.vo
*.vos
*.vok
*.d
docs
Makefile.coq
Makefile.coq.conf
.depend
.history
.coqdeps.d
*.dep
*.depend
*.v~
_build
resources/map.html
resources/deps.svg
resources/deps.dot
.lia.cache
.nia.cache
html
*.dpd
*.dot
.coq-native/
.vscode
