*.DS_Store
*.aux
*.glob
*.vo
*.vos
*.vok
*.d
docs
Makefile.coq
Makefile.coq.conf
.depend
.history
.coqdeps.d
*.dep
*.depend
*.v~
_build
.lia.cache
.nia.cache
html
*.svg
*.dpd
*.dot
.coq-native/
.vscode
resources/index.html
.nra.cache
